@model DistributedSystems.Web.Models.Github.ShowViewModel
@{
    ViewData["Title"] = $"Статистика для {Model!.Stat.Group}/{Model.Stat.Repository}";
}

<h1>
    Статистика для <u>@Model.Stat.Group/@Model.Stat.Repository</u>
    <span style="float: right">
        <a asp-action="ListGithubStats">на главную</a>
    </span>
</h1>

<h3>
    @(!Model.Stat.IsFromCache.HasValue
        ? "Запрос в обработке"
        : Model.Stat.IsFromCache.Value
            ? "Взято из кэша"
            : "Горячие данные от github")
</h3>

<table>
    <tr>
        <td>Id</td>
        <td>@Model.Stat.Statistics.Id</td>
    </tr>
    <tr>
        <td>Node Id</td>
        <td>@Model.Stat.Statistics.NodeId</td>
    </tr>
    <tr>
        <td>Owner</td>
        <td>@Model.Stat.Statistics.Owner.Login</td>
    </tr>
</table>